.spinner {
  text-align: center;
  background: rgb(30 41 59);

  img {
    margin: 0rem auto;
    display: block;
    // margin-left: auto;
    // margin-right: auto;
    height: 12rem;
    width: 12rem;
    animation: rotate 2s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
