.movieImage {
  width: 12rem;
  height: 11rem;
}

.spinner {
  margin: 10rem auto;
  text-align: center;

  img {
    height: 10rem;
    width: 10rem;
    // height: 6rem;
    // width: 6rem;
    // fill: #f38e82;
    animation: rotate 2s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.search__btn {
  margin: 5rem;
  padding: auto;
}

.search__field {
  // margin: 5rem;
  padding: auto;
  width: 15rem;
}

.error {
  display: flex;
  align-items: center;
  margin: 2rem;
  background-color: #f62f2f;
  width: 50rem;

  img {
    height: 14rem;
    width: auto;
    margin: 1rem;
  }

  p {
    font-size: 1.8rem;
    color: #fff;
    line-height: 1.8;
    font-family: "Courier New", Courier, monospace;
  }
}

.preview {
  list-style-type: none;
  text-decoration: none;
  padding: 1rem;
  background-color: rgb(231, 188, 188);
  margin-bottom: 0.2rem;
}

.preview__fig {
  img {
    border-radius: 12%;
    height: 5rem;
    width: 5rem;

    .preview__title {
      text-decoration: none;
    }
  }
}

.pagination {
  margin-top: auto;
  padding: 0 3.5rem;

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  &__btn {
    &--prev {
      float: left;
    }
    &--next {
      float: right;
    }
  }
}
